body {
  background-color: #D3D3D3;
  background-image: url('zen garden.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px white;
  font-size: 55px;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: green;
  text-shadow: 2px 2px white;
  line-height: .5;
}

h3 {
  font-size: 30px;
  color: green;
}

.summary {
border-style: dotted;
border-width: 5px;
border-color: violet;
text-align: center;
font-size: 25px;
text-transform: capitalize;
color: violet;
text-shadow: 1px 1px black;
font-family: cursive;
}

.preamble p, .explanation, .participation, .benefits, .requirements {
  font-size: 20px;
}

[role~=contentinfo] {
  text-align: center;
}

footer {
  font-size: 30px;
  display: block;
  padding: 8px;
  word-spacing: 20px;
  text-align: center;
}

#design-selection, #design-archives, #zen-resources {
  display: inline-block;
  float: left;
  width: 400px;
  height: 250px;
  padding: 20px;
  border: 2px solid blue;
  background: rgba(255, 255, 0, 0.5);
}
